<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Location</title>
</head>

<body>
    {% block content %}
    <h1>Hello, {{ user }}</h1>
    <h2>
        Your details are:
    </h2>
    <ul>
        <h3>
            <li>
                IP Address: {{ ip }}
            </li>
            <li>
                City: {{ city}}
            </li>
            <li>
                State: {{ state }}
            </li>
            <li>
                Country: {{ country }}
            </li>
            <li>
                Continent: {{ continent }}
            </li>
        </h3>
    </ul>
    {% endblock content %}
</body>

</html>